:root {
  --bg-color: #111;
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  max-width: 1440px;
  width: 100vh;
  margin: 0 auto;
  padding: 0 120px;
  box-sizing: border-box;
}

.header {
  padding-bottom: 100px;
}
.header__content {
  padding-top: 40px;
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header__name header__PhotoContainer"
    "header__summary header__PhotoContainer"
    "header__buttonsGroup header__PhotoContainer";
  gap: 20px;
}

.header__name {
  grid-area: header__name;
  padding-top: 50px;
  width: 100%;
}

.header__name_line {
  display: block;
  font-family: "Archivo Black", Impact, "Arial Black", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 1.1;
  margin: 0;
  padding-bottom: 15px;
}

.header__name_role {
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.1;
  height: fit-content;
  color: rgba(255, 255, 255, 0.5);
}
.header__summary {
  grid-area: header__summary;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  padding-top: 10px;
  margin: 0;

  color: #ffffff;
}

.header__buttonsGroup {
  grid-area: header__buttonsGroup;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.header__button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 0px;
  cursor: pointer;
  width: auto;
}

.header__button::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 5px;
  height: 0.25rem;
  background: linear-gradient(90deg, #4c1a97, #6d6dff);
  background-size: 200% 100%;
  background-position: 0% 50%;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header__button:hover {
  opacity: 50%;
  transform: scale(1.05);
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease;
}
.header__button:hover::after {
  animation: moveGradient 2s ease-in-out infinite;
}

.header__PhotoContainer {
  grid-area: header__PhotoContainer;
  position: relative;
  width: 100%;
}

.header__image {
  width: 100%;
  border-radius: 15px;
}
.header__gradient {
  /* Ellipse 74 */
  position: absolute;
  width: 300px;
  height: 300px;

  top: 200px;
  background: #6d6dff;
  filter: blur(200px);
  z-index: -1;

  animation: pulseGradient 2.5s ease-in-out infinite;
}

@keyframes pulseGradient {
  0% {
    filter: blur(200px);
  }
  50% {
    filter: blur(220px);
  }
  100% {
    filter: blur(200px);
  }
}

.main {
  width: 100%;
}

.technologies {
  width: 100%;
  padding-bottom: 100px;
}

.technologies__title {
  font-family: "Archivo Black", Impact, "Arial Black", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.1;
  color: #ffffff;
  margin: 0;
  padding-bottom: 50px;
}

.technologies__content {
  display: flex;
  width: 100%;
  margin: 0;

  justify-content: space-between;
}

.technologies__content_icon {
  width: 50px;
  height: 50px;
}
.technologies__content_icon:hover {
  transform: scale(1.25);
  transition: transform 0.3s ease-in-out;
}

.projects {
  width: 100%;
}

.projects__title {
  font-family: "Archivo Black", Impact, "Arial Black", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.1;
  color: #ffffff;
  margin: 0;
  padding-bottom: 50px;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.projects__card {
  display: flex;
  background-color: #1a1a1a;
  border-radius: 8px;
  flex-direction: column;
}

.projects__card:hover {
  transform: scale(1.02);
  transition: transform 0.15s ease-in-out;
  border: #ffd700 2px solid;
}

.projects__card_imageContainer {
  position: relative;
  width: 100%;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.projects__card_imageContainer_image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: bottom;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.projects__card_imageContainer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 50%;
  background: linear-gradient(0deg, #000000, transparent);
  transition: opacity 0.6s ease;
  z-index: 1;
}
.projects__card:hover .projects__card_imageContainer::after {
  transition: opacity 0.6s ease;
  opacity: 0;
  top: 50%;
  left: 0;
}

.projects__card_imageContainer_tech {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
}
.projects__card_imageContainer_tech_icon {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.projects__card_title {
  font-family: "Archivo Black", Impact, "Arial Black", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #ffffff;
  margin: 30px 30px 20px 30px;
}

.projects__card_description {
  /* Desarrollo de una landing page responsiva para una cafetería siguiendo un brief de diseño. Incluye estructura semántica, maquetación con Flexbox, creación de secciones nuevas y un formulario de contacto funcional.Logro: Implementé desde cero el diseño completo de la página, organicé el proyecto con buenas prácticas y publiqué la versión final utilizando GitHub Pages. */
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25;
  margin: 0 30px 30px 30px;
}

.projects__card_buttonsGroup {
  display: flex;
  margin-top: auto;
  gap: 20px;
  padding: 0px 30px 30px 30px;
}

.projects__card_button {
  display: inline-flex;

  gap: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

.projects__card_button_no_available {
  visibility: hidden;
}

.projects__card_button:hover {
  opacity: 50%;
}

.projects__card_button_demo {
  background-color: transparent;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  border: none;
  color: #6d6dff;
  font-size: 1.1rem;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

.projects__card_button_demo:hover {
  opacity: 50%;
}

.footer {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.footer__gradient {
  /* Ellipse 74 */
  position: absolute;
  width: 300px;
  height: 300px;
  background: #6d6dff;
  filter: blur(200px);
  z-index: -1;
  animation: pulseGradient 2.5s ease-in-out infinite;
}
.footer__contact_title {
  font-family: "Archivo Black", Impact, "Arial Black", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
  /* idéntico a la altura del cuadro */
  text-align: center;
  margin-bottom: 0;
  color: #ffffff;
}
.footer__contact_email {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  /* idéntico a la altura del cuadro */
  text-align: center;
  margin-top: 1.25rem;
  color: #6d6dff;
}

.footer__contact_social {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin: 0.625rem auto;
  justify-content: space-between;
}
.footer__contact_social_icon {
  width: 1.5rem;
  height: 1.5rem;
}

.footer__contact_social_icon_svg {
  width: 100%;
  height: 100%;
}
.footer__contact_social_icon:hover {
  opacity: 0.5;
  transform: scale(1.2);
  transition:
    transform 0.15s ease-in-out,
    opacity 0.15s ease-in-out;
}

/* Aqui empiezan los media Query*/

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
    padding: 0 40px;
  }

  .header {
    padding-bottom: 80px;
  }
  .header__content {
    grid-template-areas:
      "header__name header__PhotoContainer"
      "header__summary ."
      "header__buttonsGroup .";
  }

  .header__name_line {
    font-size: 3.6rem;
  }
  .header__name_role {
    font-size: 1rem;
  }

  .header__summary {
    font-size: 1.15rem;
  }

  .projects__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__button {
    width: fit-content;
    text-align: start;
    font-size: 1.15rem;
  }
  .technologies {
    padding-bottom: 80px;
  }
  .technologies__content {
    gap: 78px;
  }
  .projects__title {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  body {
    max-width: 320px;
    padding: 20px;
  }
  .header {
    padding-bottom: 60px;
  }
  .header .header__content {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header__PhotoContainer"
      "header__name"
      "header__summary"
      "header__buttonsGroup";
    padding-top: 0;
    gap: 30px;
  }
  .header__name {
    padding-top: 0px;
  }
  .header__name_line {
    padding: 0px;
    font-size: 2.25rem;
  }
  .header__name_role {
    font-size: 1rem;
    padding: 0;
    margin: 0px;
    height: auto;
  }
  .header__summary {
    font-size: 1rem;
    line-height: 1.2;
  }
  .header__PhotoContainer {
    display: flex;
  }
  .header__image {
    position: static;
    max-width: 280px;
    width: 100%;
  }

  .header__gradient {
    position: absolute;
    top: 20%;
  }

  .header__buttonsGroup {
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin: 0;
  }
  .header__button {
    font-size: 1.125rem;
    width: fit-content;
    padding: 0;
  }

  .technologies {
    padding-bottom: 60px;
  }
  .technologies__title {
    font-size: 1.75rem;
    line-height: 1.1;
    padding-bottom: 30px;
    color: #ffffff;
  }

  .technologies__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 50px;
    padding: 0;
  }
  .technologies__content_icon {
    width: 30px;
    height: 30px;
  }

  .projects__container {
    gap: 10px;
    padding: 20px;
  }
  .projects__title {
    font-size: 1.75rem;
    line-height: 1.1;
    padding-bottom: 30px;
  }
  .projects__card_title {
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
    font-size: 1.15rem;
  }
  .projects__card_description {
    margin: 0;
    padding: 20px;
    font-size: 1rem;
  }

  .projects__card_imageContainer_image {
    width: 100%;
  }

  .projects__card_buttonsGroup {
    padding: 0 0 20px 0;
    gap: 0;
  }
  .projects__card_button_demo {
    font-size: 1rem;
  }

  .footer {
    width: 100%;
    padding-top: 60px;
  }

  .footer__contact_email {
    font-size: 0.9rem;
    width: 100%;
  }

  .footer__contact_social {
    padding-bottom: 100px;
    gap: 2rem;
  }
  .projects__card_imageContainer_Tech_icon {
    width: 20px;
  }
}
